/* Site Colours
 * --------------------------------------- */
/* Media Queries Mixins
 * --------------------------------------- */
/* Various Mixins
 * --------------------------------------- */
 .wrap {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}
    @media (min-width: 240px) {
      .wrap {
        width: 85%; } }
    @media (min-width: 768px) {
      .wrap {
        width: 90%; } }
  
  .tooltip {
    display: inline;
    position: relative;
    z-index: 999; }

    /* Tooltip */
    
.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 90px;
  height: auto;
  left: 50%;
  margin-left: -45px;
  bottom: 100%;
  text-align: center;
  background: #2a3333;
  color: #fff;
  opacity: 0;
  margin-bottom: 20px;
  cursor: default;
  pointer-events: none;
  padding: 10px; }

.tooltip-content i {
  opacity: 0; }

.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i {
  opacity: 1; }

.tooltip-effect .tooltip-content {
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
  transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect .tooltip-content i {
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }
.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i {
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

  /* Individual Slide Background Colours
 * --------------------------------------- */
.unitedStates {
    background: #f7e5cb; }
  
  .unitedStates:after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 22%;
    background: #ead9c1; }
    @media (min-width: 768px) {
      .unitedStates:after {
        height: 28%; } }
    @media (min-width: 1024px) {
      .unitedStates:after {
        height: 33%; } }
    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .unitedStates:after {
        height: 29%; } }
  
  .london {
    background: #f0eee4; }
  
  .london:after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 22%;
    background: #e4e2d8; }
    @media (min-width: 768px) {
      .london:after {
        height: 28%; } }
    @media (min-width: 1024px) {
      .london:after {
        height: 33%; } }
  
  /* CSS Animations
 * --------------------------------------- */
@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1); } }
.pulse, #map a {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes pulse_slow_animation {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.07); }
  100% {
    -webkit-transform: scale(1); } }
.pulse-slow {
  -webkit-animation-name: 'pulse_slow_animation';
  -webkit-animation-duration: 1200ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.landscape-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10% 10%;
  background: #bfd9d8;
  z-index: 100000;
  display: none; }
  .landscape-overlay h1 {
    margin: 20px 0 0 0;
    font-size: 1.5em;
    color: #2a3333;
    font-weight: 600; }
    @media (min-width: 240px) {
      .landscape-overlay h1 {
        font-size: 1.6em; } }
    @media (min-width: 768px) {
      .landscape-overlay h1 {
        font-size: 2.4em; } }
    @media (min-width: 1024px) {
      .landscape-overlay h1 {
        font-size: 2.8em; } }
    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .landscape-overlay h1 {
        font-size: 2em !important; } }
  .landscape-overlay p {
    font-size: 1.0em;
    font-weight: 100;
    color: #707777; }
    @media (min-width: 768px) {
      .landscape-overlay p {
        font-size: 1.2em; } }
    @media (min-width: 768px) {
      .landscape-overlay p {
        font-size: 1.3em; } }

/* LANDSCAPE IPHONE FIX */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .landscape-overlay {
      display: block !important; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .landscape-overlay {
      display: block !important; } }
  .loader_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40% 10%;
    background: #bfd9d8;
    z-index: 100000; }
    @media (min-width: 768px) {
      .loader_overlay {
        padding: 14%; } }
    .loader_overlay img.flags {
      width: 22px; }
      @media (min-width: 768px) {
        .loader_overlay img.flags {
          width: 40px; } }
    .loader_overlay img {
      margin: 40px 0 0 0; }
    .loader_overlay h1 {
      margin: 20px 0 0 0;
      font-size: 1.5em;
      color: #2a3333;
      font-weight: 600; }
      @media (min-width: 240px) {
        .loader_overlay h1 {
          font-size: 1.6em; } }
      @media (min-width: 768px) {
        .loader_overlay h1 {
          font-size: 2.4em; } }
      @media (min-width: 1024px) {
        .loader_overlay h1 {
          font-size: 2.8em; } }
      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .loader_overlay h1 {
          font-size: 2em !important; } }
    .loader_overlay p {
      font-size: 1.0em;
      font-weight: 100;
      color: #707777; }
      @media (min-width: 768px) {
        .loader_overlay p {
          font-size: 1.2em; } }
      @media (min-width: 768px) {
        .loader_overlay p {
          font-size: 1.3em; } }

          /* Overlay style */
.overlay {
  position: absolute;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(32, 32, 36, 0.95); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

  /* Menu style */
.overlay nav {
    position: relative;
    top: 0%;
    height: 100%;
    padding: 0;
    width: 100%; }
    .overlay nav select {
      float: right;
      margin: 5px 0 0 0;
      display: inline; }
      @media (min-width: 1024px) {
        .overlay nav select {
          margin: 30px 0 0 0; } }
    .overlay nav img {
      float: left;
      width: 30px;
      margin: 0 10px 0 0; }
      @media (min-width: 768px) {
        .overlay nav img {
          width: 45px; } }
      @media (min-width: 1024px) {
        .overlay nav img {
          width: 65px; } }
          #d3-london{    padding: 0px 10px 20px 5%;}
    .overlay nav p.overlayTitle {
      font-size: 1.6em;
      color: #fff;
      text-align: left;
      font-weight: 900;
      float: left;
      padding: 0px 10px 20px 5%;
      width: 100%; }
      .overlay nav p.overlayTitle span {
        display: block;
        font-size: 0.75em;
        font-weight: 300; }
        @media (min-width: 768px) {
          .overlay nav p.overlayTitle span {
            font-size: 0.45em; } }
      @media (min-width: 768px) {
        .overlay nav p.overlayTitle {
          font-size: 2.2em; } }
      @media (min-width: 1024px) {
        #d3-london{    padding: 0px 20px 50px 5%;}
  
        .overlay nav p.overlayTitle {
          font-size: 3.5em;
          padding: 0px 20px 50px 5%; } }
  
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative; }
  
  .overlay ul li {
    display: block;
    width: 100%;
    height: 12%;
    text-transform: uppercase;
    float: left;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 0.7em;
    position: relative; }
    @media (min-width: 240px) {
      .overlay ul li {
        width: 50%; } }
    @media (min-width: 768px) {
      .overlay ul li {
        width: 33%;
        height: 18%;
        font-size: 0.9em; } }
    @media (min-width: 1024px) {
      .overlay ul li {
        width: 25%;
        height: 25%;
        font-size: 1.0em; } }
    .overlay ul li span {
      display: block;
      font-size: 1.8em;
      font-weight: 900; }
      @media (min-width: 768px) {
        .overlay ul li span {
          font-size: 2.2em; } }
      @media (min-width: 1024px) {
        .overlay ul li span {
          font-size: 2.2em; } }
      @media (min-width: 1400px) {
        .overlay ul li span {
          font-size: 2.7em; } }
      .overlay ul li span.symbol {
        display: inline;
        font-size: 1.0em; }
      .overlay ul li span.no-tablet {
        display: block; }
        .overlay ul li span.no-tablet span {
          display: block;
          font-size: 0.55em !important;
          font-weight: 300 !important; }
        @media (min-width: 768px) {
          .overlay ul li span.no-tablet {
            display: none; } }
      .overlay ul li span.info {
        font-size: 1.0em;
        font-weight: 300;
        text-transform: lowercase;
        color: #aaa7a7;
        display: none; }
        @media (min-width: 1024px) {
          .overlay ul li span.info {
            display: block; } }
    .overlay ul li i {
      display: block;
      margin: 0 0 10px 0; }
      @media (max-height: 700px) {
        .overlay ul li i {
          display: none; } }
  
  .overlay ul li a {
    font-size: 54px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  
  .overlay ul li a:hover,
  .overlay ul li a:focus {
    color: #e3fcb1; }
  /* Effects */
  .overlay-slidedown {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s; }
    .overlay-slidedown.active {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
  
  .overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out; }
  